* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 10rem;
}


.btn {
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: .7rem;
    text-align: center;
    display: inline-block;
    width: 10rem;
    font-size: 1.8rem;
    padding: 1rem;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: #E76F51;
    color: #fff;
}


.btn.reset {
    width: 21.4rem;
}


/* ui */


#slider {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.image-group {
    display: flex;
    overflow: hidden;
    width: 100%;
    border: .4rem solid #E76F51;
}


.image-group .image {
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    cursor: grab;
}

.image-group img {
    max-width: 100%;
    transform-origin: center center;
    height: auto;
}


.image-group img.active-image {
    display: inline-block;
    position: relative;

}


.image-animate-slide-pre {
    animation: imageSlideMovePre 1.2s
}

.image-animate-slide-next {
    animation: imageSlideMoveNext 1.2s;
}

.image-animate-fade{
    animation: imageFadeMove 1.2s;
}


@keyframes imageSlideMovePre {
    from {
        right: 70rem;
        opacity: .5;
    }

    to {
        right: 0rem;
        opacity: 1;
    }
}

@keyframes imageSlideMoveNext {
    from {
        left: 70rem;
        opacity: .5;
    }

    to {
        left: 0rem;
        opacity: 1;
    }
}

@keyframes imageFadeMove {
    from {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}

#reset-button{
    text-align: center;
}

#buttons{
    text-align: center;
}


.option-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: 1rem 0;
    background-color: #a9a9a9;
}

#slider-options label{
    font-size: 2.2rem;
    font-weight: 400;
}

#slider-options > div{
    margin: 0 1rem;
}

#image-move-options label{
    font-size: 2.2rem;
    font-weight: 400;
}

#image-move-options > div{
    margin: 0 1rem;
}

#image-move-options p{
    font-size: 2.2rem;
    font-weight: 400;
}
